@import "styles/variables.module";

.container{
  width:100%;
  background-color:$background-color-dark;
  padding: 1rem;
  //padding-top: 0.5rem;
}
.link {
  font-size:1.5rem;
  color: white;
  text-decoration:underline;
}
.text {
  font-size: 1rem;
  color: white;
}
.socialMedia {
  width:2rem;
  height:2rem;
}
.horizontalMargin {
  margin: 0 1rem;
}
